<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <appSettings>
    <add key="DebugMode" value="true"/>
    <add key="ClickForEachButton" value="6"/>
    
    <add key="TopLeftKey" value="NumPad7"/>
    <add key="TopRightKey" value="NumPad9"/>
    <add key="BottomLeftKey" value="NumPad1"/>
    <add key="BottomRightKey" value="NumPad3"/>
  </appSettings>
</configuration>
